{% block html %}

{% block css %}

<link href="http://localhost:9091/../css/styles.css" rel="stylesheet">


{% endblock %}

{% block js %}

<script src="http://localhost:9091/bundle.npm.material-ui.js"></script>

<script src="http://localhost:9091/bundle.npm.axios.js"></script>

<script src="http://localhost:9091/bundle.npm.lodash.js"></script>

<script src="http://localhost:9091/bundle.npm.webpack-dev-server.js"></script>

<script src="http://localhost:9091/bundle.npm.react-transition-group.js"></script>

<script src="http://localhost:9091/bundle.npm.prop-types.js"></script>

<script src="http://localhost:9091/bundle.npm.scheduler.js"></script>

<script src="http://localhost:9091/bundle.npm.react.js"></script>

<script src="http://localhost:9091/bundle.npm.html-entities.js"></script>

<script src="http://localhost:9091/bundle.npm.url.js"></script>

<script src="http://localhost:9091/bundle.npm.react-dom.js"></script>

<script src="http://localhost:9091/bundle.npm.regenerator-runtime.js"></script>

<script src="http://localhost:9091/bundle.npm.react-router.js"></script>

<script src="http://localhost:9091/bundle.npm.react-router-dom.js"></script>

<script src="http://localhost:9091/bundle.npm.punycode.js"></script>

<script src="http://localhost:9091/bundle.npm.jss.js"></script>

<script src="http://localhost:9091/bundle.npm.events.js"></script>

<script src="http://localhost:9091/bundle.npm.css-vendor.js"></script>

<script src="http://localhost:9091/bundle.vendors-node_modules_babel_runtime_helpers_interopRequireDefault_js-node_modules_babel_runtim-1061ec.js"></script>

<script src="http://localhost:9091/bundle.app.js"></script>


{% endblock %}

{% endblock %}
